.ads-card {
  width: 100%;
}

.ads-card .content {
  width: 728px;
  height: 90px;
  background-color: var(--border-light);
}

.ads-card.template {
  display: none;
}

.list .ads-card {
  display: flex;
}

.list .ads-card:nth-child(1) {
  order: 1;
}

.list .ads-card:nth-child(2) {
  order: 5;
}

.list .ads-card:nth-child(3) {
  order: 9;
}

.list .ads-card:nth-child(4) {
  order: 13;
}

.list .ads-card:nth-child(5) {
  order: 17;
}

.list .ads-card:nth-child(6) {
  order: 21;
}

.list .ads-card:nth-child(7) {
  order: 25;
}

.list .ads-card:nth-child(8) {
  order: 29;
}

.list .ads-card:nth-child(9) {
  order: 33;
}

.list .ads-card:nth-child(10) {
  order: 37;
}

@container (min-width: 756px) {
  .list .ads-card:nth-child(1) {
    order: 2;
  }

  .list .ads-card:nth-child(2) {
    order: 6;
  }

  .list .ads-card:nth-child(3) {
    order: 10;
  }

  .list .ads-card:nth-child(4) {
    order: 14;
  }

  .list .ads-card:nth-child(5) {
    order: 18;
  }

  .list .ads-card:nth-child(6) {
    order: 22;
  }

  .list .ads-card:nth-child(7) {
    order: 26;
  }

  .list .ads-card:nth-child(8) {
    order: 30;
  }

  .list .ads-card:nth-child(9) {
    order: 34;
  }

  .list .ads-card:nth-child(10) {
    order: 38;
  }
}

/* 2 columns */
@media (min-width: 992px) {
  .list .ads-card:nth-child(1) {
    order: 2;
  }

  .list .ads-card:nth-child(2) {
    order: 6;
  }

  .list .ads-card:nth-child(3) {
    order: 10;
  }

  .list .ads-card:nth-child(4) {
    order: 14;
  }

  .list .ads-card:nth-child(5) {
    order: 28;
  }

  .list .ads-card:nth-child(6) {
    order: 32;
  }

  .list .ads-card:nth-child(7) {
    order: 36;
  }

  .list .ads-card:nth-child(8) {
    order: 40;
  }

  .list .ads-card:nth-child(9) {
    order: 44;
  }

  .list .ads-card:nth-child(10) {
    order: 48;
  }
}

/* 3 columns */
@container (min-width: 1101.5px) {
  .list .ads-card:nth-child(1) {
    order: 3;
  }

  .list .ads-card:nth-child(2) {
    order: 9;
  }

  .list .ads-card:nth-child(3) {
    order: 15;
  }

  .list .ads-card:nth-child(4) {
    order: 21;
  }

  .list .ads-card:nth-child(5) {
    order: 27;
  }

  .list .ads-card:nth-child(6) {
    order: 33;
  }

  .list .ads-card:nth-child(7) {
    order: 39;
  }

  .list .ads-card:nth-child(8) {
    order: 45;
  }

  .list .ads-card:nth-child(9) {
    order: 51;
  }

  .list .ads-card:nth-child(10) {
    order: 57;
  }
}
