:root {
  --list-container-border-size: 4rem;
  --list-border-size: 3rem;
  --list-station-card-gap: 1.6rem;
  --station-card-width: 33rem;
}

aside {
  min-width: 38rem;
  max-width: 1176px;
  transition: all 0.3s ease-in-out;
  container-type: inline-size;
}

aside[mode="result"] {
  height: calc(100% - 10rem);
}

aside .input-group {
  max-width: 100%;
  width: 100%;
}

.sortBy.gap-1,
aside .gap-1 {
  gap: 0.6rem;
}

aside .gap-4 {
  gap: 1.6rem;
}

aside .input-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortBy label,
aside .input-switch label {
  margin-bottom: 0;
  cursor: pointer;
  user-select: none;
  text-underline-offset: 3px;
}

.sortBy input,
aside .input-switch input {
  appearance: none;
}

aside .input-switch .button {
  height: 4.8rem;
  border: 1px solid var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

aside .input-switch .button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

aside .input-switch .button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

aside .input-switch .button:has(input:checked) {
  background-color: var(--primary-light);
  color: white;
}

aside button {
  height: 4.8rem;
  border: var(--primary) 1px solid;
  background-color: var(--primary);
  color: white;
  border-radius: 4px;
  user-select: none;
}

.sortBy label {
  color: #757575;
}

.sortBy :not(label) {
  pointer-events: none;
}

.sortBy label {
  pointer-events: initial;
}

.sortBy[value="price"] .price,
.sortBy[value="distance"] .distance {
  color: #005e61;
  text-decoration: underline;
}

/** 
 MODE = search | result
**/
aside:not([mode="search"]) [for="search"],
aside:not([mode="result"]) [for="result"] {
  display: none !important;
}

aside[mode="result"] .list-container {
  display: flex;
}

aside[mode="search"] .btn-toggle,
aside[mode="search"] .list-container {
  display: none;
}

aside .list-container {
  border-top: 1px solid #949494;
  padding: 1.6rem 2rem;
  flex-grow: 1;
  transition: all 300ms ease-in-out;
}

aside .list {
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: space-evenly;
  overflow-y: auto;
}

aside .btn-toggle {
  display: flex;
  width: 11.3rem;
  height: 3.2rem;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

aside .btn-toggle button {
  display: flex;
  white-space: nowrap;
}

aside .btn-toggle svg {
  width: 1.4rem;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

aside:not([view="map"]) .btn-toggle .list-view,
aside:not([view="list"]) .btn-toggle .map-view {
  display: none;
}

aside[view="map"] .btn-toggle svg {
  transform: rotate(180deg);
}

aside[view="list"] .btn-toggle svg {
  transform: rotate(0deg);
}

aside .controls {
  display: none;
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 10px)) translateY(20px);
  justify-content: center;
  align-items: center;
}

aside .controls button.toggle-size {
  color: #2b9b9f;
  transition: all 0.3s ease-in-out;
}

aside[collapse="true"] .controls button.toggle-size {
  transform: rotate(180deg);
}

aside .controls .btn-group-vertical button {
  width: 3rem;
}

aside .controls button {
  height: auto;
  background-color: white;
  color: #575757;
  border-color: #949494;
  width: 3.6rem;
  height: 3.6rem;
}

aside .controls button:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

aside .controls button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

aside .controls svg {
  font-size: 1.3rem;
}

aside[mode="result"] .controls {
  display: flex;
}

.list .station-card.filler {
  display: none;
}

aside[mode="result"] {
  width: 100%;
}

aside[mode="result"][view="map"] {
  height: auto;
}

/** MOBILE **/
@media (max-width: 575px) {
}

@media (max-width: 767px) {
  aside[mode="result"][view="map"] {
    height: auto;
  }

  aside[mode="result"][view="map"] .list-container {
    max-height: 0;
    padding: 0 2rem;
  }
}

/** SMALL **/
/* 2 columns */
@container (min-width: 756px) and (max-width: 1101.5px) {
  .list[two="1"] .station-card.filler:nth-last-child(2) {
    display: flex;
  }
}

/* 3 columns */
@container (min-width: 1101.5px) {
  .list[three="1"] .station-card.filler,
  .list[three="2"] .station-card.filler:nth-last-child(2) {
    display: flex;
  }
}

/** MEDIUM **/
@media (min-width: 768px) {
  aside[mode="result"][collapse="true"],
  aside[mode="search"] {
    max-width: 38rem;
    width: 100%;
  }

  aside[mode="result"]:not([collapse="true"]) div[for="result"] .sortBy {
    display: flex !important;
  }

  aside[mode="result"]:not([collapse="true"]) form {
    flex-direction: row !important;
    align-items: center;
  }

  aside[mode="result"] .input-group {
    max-width: 40rem;
  }

  aside[mode="result"]:not([collapse="true"]) .list-container .sortBy,
  aside .btn-toggle {
    display: none !important;
  }

  aside[mode="result"] {
    height: 100%;
  }
}
