[data-lastpass-icon-root] {
  display: none !important;
}

:root {
  --primary: #2b9b9f;
  --primary-light: #6bb9bc;

  --border-light: #949494;
}

html,
body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

main {
  font-size: 1.6rem;
}

nav {
  min-height: 85px;
}

.form-control {
  font-size: 1.6rem;
  line-height: 1.92rem;
  height: 4.8rem;
}

input.form-control {
  padding: 14.5px 12px;
}

.svg-inline--fa {
  font-size: 2.1rem;
}

.min-h-0 {
  min-height: 0;
}

.gap-3 {
  gap: 24px;
}

.gap-4 {
  gap: 32px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
